.clock {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 30px;
}
    .clock > .time {
        display: inline-block;
        width: 100%;
        color: #fff;
    }
        .clock > .time > .value {
            display: inline-block;
            width: 100%;
            font-size: 50px;
            line-height: 50px;
            font-family: 'Raleway', sans-serif;
        }
        .clock > .time > .label {
            display: inline-block;
            width: 100%;
            font-size: 12px;
            line-height: 22px;
            text-transform: uppercase;
        }

@media (max-width: 640px) {
    .clock {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 320px) {
    .clock {
        grid-template-columns: 1fr;
    }
}