body {
    display: grid;
    grid-template-columns: 1fr;

}

.container {
    display: grid;
    grid-template-columns: 1fr 200px 600px 200px 1fr;
    padding: 40px 0;
    border: 1px solid;
    
}

    .container > .short {
        grid-column: 3/4;
    }

    .container > .long {
        grid-column: 2/5
    }

        .container > .long.collumns {
            display: grid;
            grid-template-columns: 5fr 1fr 4fr;
        }
            .container > .long.collumns > .left {
                grid-column: 1/2;
            }

            .container > .long.collumns > .rigth {
                grid-column: 3/4;
            }



@media (max-width 1100px){
    .container { 
        grid-template-columns: 1fr 100px 600px 100px 1fr;

    }
}

@media (max-width 900px){
    .container { 
        grid-template-columns: 1fr 600px 1fr;

    }
}
@media (max-width 640px){
    .container { 
        grid-template-columns: 20px 1fr 20px;
    }

            .container > .long.collumns {
                grid-template-columns: 1fr;
            }
            
}
        /* .container > .long > .left {
            display: inline-block;
            width: 50%;
            float: left;
            background-color:red;
        }

        .container > .long > .rigth {
            display: inline-block;
            width: 50%;
            float: rigth;
            background-color:red;
        } */